<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<div class="top-bar">
    <div class="container clearfix">
        <h2>Blah</h2>
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        
    </div>
</div>